* {
    box-sizing: border-box;
}
body {
    background-color: lightgray;
}
h1 {
    text-align: center;
}

form {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 10px;
}

input, label, textarea {
    width: 100%;
}

input[type="radio"] {
    width: auto;
  }

input[type="radio"], input[type="checkbox"] {
    width: auto;
  }



.group {
    margin-block: 20px;
}



